*{
    margin: 0;
    padding: 0;
}
.heading{
    margin-top: 50px;
    color: rgb(6, 60, 110);
    /* background-color: rgb(59, 134, 199); */
    padding: 10px;
    width: 30%;   
    border-radius: 20px;

}
.heading>h1{
    border-radius: 20px;
}

.button{
    margin: 20px;
    /* padding: 50px; */
}
.button>button{
    padding: 15px;
    border-radius: 15px;
    letter-spacing: 0.1em;
    background-color: rgb(94, 94, 211);
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
}

.button>button:hover{
    cursor: pointer;
    background-color: rgb(147, 154, 221);
    color: black;
}

.para{
    width: 4%;
    height: 25px;
    padding: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 150px;
    /* background-color: rgb(109, 71, 153) */
}

.para>h1{
    color: rgb(2, 61, 138);
    padding-top: -1px;
}

fieldset{
    margin-top: 20px;
    height: 550px;
    width: 600px;
}





